#main {
    display: grid;

    grid-template-columns: 0.25fr auto 0.25fr;
    grid-template-rows: 0.45fr 4fr 0.45fr;

    #game {
        grid-area: 2 / 2 / 3 / 3;
    }

    .player {
        padding: 0.5rem;

        display: flex;

        &__content {
            display: flex;
            flex-direction: column;

            padding-left: 0.5rem;
        }

        &__name {
            font-size: 16px;
            color: #333;
        }

        &__caption {
            font-size: 14px;
            color: #555;
        }

        &__avatar {
            width: 64px;
            height: auto;
        }

        &--white {
            grid-area: 1 / 2 / 2 / 3;
        }

        &--black {
            grid-area: 3 / 2 / 4 / 3;
        }
    }
}

#game {
    width: 100%;
    height: auto;

    max-width: 600px;

    background: black;

    margin: 0 auto;

    display: grid;

    grid-template-columns: 0.15fr 2fr;
    grid-template-rows: 0.15fr 2fr;

    .ranks {
        grid-area: 2 / 1 / 4 / 2;
    }

    .files {
        grid-area: 1 / 2 / 2 / 4;
    }

    .board {
        grid-area: 2 / 2 / 4 / 4;
    }

    @media all and (display-mode: fullscreen) {
        .ranks {
            display: none;
        }

        .files {
            display: none;
        }

        .board {
            grid-area: 1 / 1 / 4 / 4;
        }
    }
}